
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Store</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" href="~/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/style.css">

    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>

</head>

<body>


    <div class="site-banner">
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="colored">
                            <h1 class="page-title">Về chúng tôi</h1>
                            <div class="breadcum-items">
                                <span class="item"><a href="index.html">Home /</a></span>
                                <span class="item colored">About Us</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--site-banner-->


    <section class="chief-detail padding-large">
        <div class="container">
            <div class="row">
                <div class="single-image col-md-12">
                    <p>Sinh viên lớp DH20PM với sứ mệnh mang những đầu sách đến gần hơn với sinh viên</p>
                    <p>Đồ án 2 quản lý mượn/ trả sách thư viện </p>

                </div>
            </div>
        </div>
    </section>

    <section class="our-team bg-sand padding-large">
        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="section-title text-center mb-4">Các thành viên trong nhóm</h2>
                </div>

            </div>

            <div class="row">

                <div class="col-md-3">

                    <div class="team-member text-center">

                        <figure>
                            <a href="#"><img src="images/team-member2.jpg" alt="post" class="member-image"></a>
                        </figure>

                        <div class="member-details text-center">
                            <h4>Vương Trường Giang</h4>
                            <div class="designation colored">Nhóm trưởng</div>
                            <div class="social-links color-primary ">
                                <a href="#" class="icon icon-facebook pr-10"></a>
                                <a href="#" class="icon icon-twitter pr-10"></a>
                                <a href="#" class="icon icon-pinterest-p"></a>
                            </div>
                        </div>

                    </div>

                </div><!--col-md-3-->

                <div class="col-md-3 text-center">

                    <div class="team-member text-center">
                        <figure>
                            <img src="images/team-member5.jpg" alt="post" class="member-image">
                        </figure>
                        <div class="member-details text-center">
                            <h4>Lê Hoàng Phong</h4>
                            <div class="designation colored">Back-End Developer</div>
                            <div class="social-links color-primary">
                                <a href="#" class="icon icon-facebook pr-10"></a>
                                <a href="#" class="icon icon-twitter pr-10"></a>
                                <a href="#" class="icon icon-pinterest-p"></a>
                            </div>
                        </div><!--text-content-->
                    </div>

                </div><!--col-md-3-->

                <div class="col-md-3 text-center">

                    <div class="team-member text-center">
                        <figure>
                            <img src="images/team-member7.jpg" alt="post" class="member-image">
                        </figure>
                        <div class="member-details text-center">
                            <h4>Nguyễn Quốc Toàn</h4>
                            <div class="designation colored">Font-End Developer</div>
                            <div class="social-links color-primary">
                                <a href="#" class="icon icon-facebook pr-10"></a>
                                <a href="#" class="icon icon-twitter pr-10"></a>
                                <a href="#" class="icon icon-pinterest-p"></a>
                            </div>
                        </div><!--text-content-->
                    </div>

                </div><!--col-md-3-->
            </div>
        </div>
    </section>

    <section class="padding-large">
        <div class="container">
            <h2 class="section-title text-center mt-5">Nhiệm vụ của chúng tôi</h2>
            <div class="row">
                <div class="col-md-12">
                    <img src="images/post-img3.jpg" alt="book-authors" class="align-right">
                    <p>
                        Hoàn thành tốt đồ án đạt  điểm cao
                    </p>
                    <p>
                        Tạo nên sự hứng thú với việc đọc sách của sinh viên
                     </p>

                </div>

            </div>
        </div>
    </section>



    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>

</body>
</html>	