<div class="container-fluid bg-dark text-secondary mt-5 pt-5">
    <div class="row px-xl-5 pt-5">
        <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
            <h5 class="text-secondary text-uppercase mb-4">Thư viện</h5>
            <p class="mb-4">Đọc sách > chơi game</p>
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Cổng phụ chạy vào quẹo trái</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>agu.edu.vn</p>
            <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>0123456789</p>
        </div>
        <div class="col-lg-8 col-md-12">
            <div class="row">
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Qui định</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <p class="mb-4">Thời điểm trả sách = ngày mượn sách online + số ngày đăng kí mượn</p>
                        <p class="mb-4">Nhớ lại thư viện lấy sách sau khi đăng kí mượn online</p>
                        <p class="mb-4">Liên hệ: 0912302</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h5 class="text-secondary text-uppercase mb-4">Các hình phạt</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <p class="mb-4">Trả sách trễ lần 1 khóa tài khoản 1 tuần</p>
                        <p class="mb-4">Trả sách trễ lần 2 khóa tài khoản 2 tuần</p>
                        <p class="mb-4">Trả sách trễ lần 3 khóa tài khoản 3 tuần</p>
                        <p class="mb-4">Trả sách trễ lần 4 khóa tài khoản vô thời hạn</p>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <h6 class="text-secondary text-uppercase mt-4">Mạng xã hội</h6>
                    <div class="d-flex">
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
        <div class="col-md-6 px-xl-0">
            <p class="mb-md-0 text-center text-md-left text-secondary">
                &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed
                by
                <a class="text-primary" href="https://htmlcodex.com">HTML Codex</a>
            </p>
        </div>

    </div>
</div>