@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Đầu sách</span></h2>
    <div class="row px-xl-5">

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://metrohanoi.com.vn/wp-content/uploads/sach-dac-nhan-tam.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="detail.html">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://downloadsach.com/wp-content/uploads/2018/02/su-minh-dinh-cua-dia-ly-197x300.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://metrohanoi.com.vn/wp-content/uploads/sach-dac-nhan-tam.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="d">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://metrohanoi.com.vn/wp-content/uploads/sach-dac-nhan-tam.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://metrohanoi.com.vn/wp-content/uploads/sach-dac-nhan-tam.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
            <div class="product-item bg-light mb-4">
                <div class="product-img position-relative overflow-hidden">
                    <img class="img-fluid w-100" src="https://metrohanoi.com.vn/wp-content/uploads/sach-dac-nhan-tam.jpg" alt="" style="height: 420PX;">
                </div>
                <div class="text-center py-4">
                    <a class="h5 text-decoration-none text-truncate" href="">Sách địa lý</a>
                    <div class="d-flex align-items-center justify-content-center mt-2">
                        <h6>Cung cấp thống tin địa lý chính xác</h6>
                    </div>
                </div>
            </div>
        </div>
