@model QL_ThuVien.Models.TblSach

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>TblSach</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StTenSach" class="control-label"></label>
                <input asp-for="StTenSach" class="form-control" />
                <span asp-validation-for="StTenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StMaLoaiSach" class="control-label"></label>
                <select asp-for="StMaLoaiSach" class ="form-control" asp-items="ViewBag.StMaLoaiSach"></select>
            </div>
            <div class="form-group">
                <label asp-for="StMaTacGia" class="control-label"></label>
                <select asp-for="StMaTacGia" class ="form-control" asp-items="ViewBag.StMaTacGia"></select>
            </div>
            <div class="form-group">
                <label asp-for="StMaKeSach" class="control-label"></label>
                <select asp-for="StMaKeSach" class ="form-control" asp-items="ViewBag.StMaKeSach"></select>
            </div>
            <div class="form-group">
                <label asp-for="StTomTat" class="control-label"></label>
                <input asp-for="StTomTat" class="form-control" />
                <span asp-validation-for="StTomTat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StTinhTrang" class="control-label"></label>
                <input asp-for="StTinhTrang" class="form-control" />
                <span asp-validation-for="StTinhTrang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StAnh" class="control-label"></label>
                <input type="file" name="file" asp-for="StAnh" class="form-control" />
                <span asp-validation-for="StAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InSoLuong" class="control-label"></label>
                <input asp-for="InSoLuong" class="form-control" />
                <span asp-validation-for="InSoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

