@model List<TblDonMuonSach>
@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Ngày mượn</th>
                    <th>Ngày trả</th>
                    <th>Trạng thái</th>
                    <th>Xem chi tiết</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="account-order-id" href="javascript:void(0)">#@item.StMaDonMuon</a></td>
                        <td>@item.DaNgayMuon</td>
                        <td>@item.DaNgayTra</td>
                        @if (@item.BiTrangThai)//==1
                        {
                            <td>Đã trả</td>
                        }
                        else
                        {
                            <td>Chưa trả</td>
                        }
                        <td>
                            <a asp-action="ChiTietDonSach" asp-route-id="@item.StMaDonMuon">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        <br />
        <br />
        <br />
        <hr />
        <div id="records_table">
        </div>
    </div>
}
else
{
    <p>Chưa có đơn sách!</p>
}
@section Scripts{
    <script>
    $(document).ready(function () {
        $(".xemdonsach").click(function () {
            var madon = $(this).attr("data-madon")
            $.ajax({
                url: '/Admin/DonMuonSach/Details',
                datatype: "json",
                type: "POST",
                data: { id: madon },
                async: true,
                success: function (results) {
                    $("#records_table").html("");
                    $("#records_table").html(results);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
    </script>
}